<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Localizable</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Group</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Integer Value</string>
			<key>Key</key>
			<string>Integer Value</string>
            <key>KeyboardType</key>
            <string>NumbersAndPunctuation</string>
			<key>DefaultValue</key>
			<string>123</string>
			<key>IsSecure</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>String Value</string>
			<key>Key</key>
			<string>String Value</string>
			<key>DefaultValue</key>
			<string>Any String</string>
			<key>IsSecure</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
